.imgMovie{
    width: 300px;
}

.info-primary{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.titleDetails{
    color: #fff;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
}

.containerDetails{
    width: 100wh;
    background-color: black;
}
.listMovies{
    padding: 1rem 0 0rem 0;
    display: flex;
    /* gap: 1rem; */
}

.listMovies button img{
    width: 50%;
    height: auto;
    /* padding: 8px; */
}

.listMovies button{
    background-color: #0077b6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.listMovies button:hover{
    opacity: 0.5;
}

.sinopse{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #ccc;
}

.titleSinopse{
    font-size: 1.4rem;
    color: #fff;
}

.tagline{
    color: #ccc;
}

.shadow{
    width: 100wh;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 52.5, 0.84) 50%, rgba(31.5, 31.5, 52.5, 0.84) 100%);
}

.listMovies{
    display: flex;
    flex-direction: column;
}

.buttonsList{
    display: flex;
    gap: 1rem;
}

.spansList{
    display: flex;
    width: 100px;
}

.likedList{
    margin-top: 1rem;
    display: none;
    white-space: nowrap;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-left: -2.5rem;
    transition: all 0.3s;
}

.interestList{
    margin-top: 1rem;
    display: none;
    white-space: nowrap;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-left: -2.5rem;
    transition: all 0.3s;
}

.toAssess{
    margin-top: 1rem;
    margin-left: 5rem;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    display: none;
    transition: all 0.3s;
}

.info-creditos{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    color: #ccc;
}

.nameCredits{
    color: #fff;
    text-decoration: none;
}

.nameCredits:hover{
    opacity: 0.5;
}

.jobCredits{
    font-size: 12px;
}

.info-secundary {
    padding: 2rem 3rem 3rem 3rem;
}

.info-secundary h1{
    font-size: 1.3rem;
    padding-bottom: 1.3rem;
}

.cast{
    display: flex;
    gap: 1.7rem;
    flex-wrap: wrap;
}

.imgCast{
    width: 120px;
    border-radius: 10px;
    transition: all 0.3s;
    height: 180px;
}

.imgCast:hover{
    transform: scale(1.1);
}

.person{
    width: 120px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 2px;
}

.linkPerson{
    text-decoration: none;
}

.characterCast{
    font-size: 0.8rem;
    opacity: 0.9;
}

.nameCast{
    font-weight: 600;
}


.container-resenha{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);;
}

.avatar{
    width: 50px;
    border-radius: 50%;
}

.info{
    color: #000;
}

.title-resenha{
    font-weight: 600;
    font-size: 1.3rem;
}

.resenha{
    display: grid;
    grid-template-columns: 0.5fr 7fr;
    column-gap: 1rem;
}

.info-resenha{
    /* display: grid;
    grid-template-columns: 7fr 1fr;
    column-gap: 1rem; */
    display: flex;
    gap: 2rem;
}

.container-resenha h1{
    padding-bottom: 0;
}

.title-resenha-h1{
    margin-top: 4rem;
}

.divAssess{
    background-color: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    padding: 0 10px 0 10px;
    color: #fff;
    height: 30px;
    width: 40px;
    gap: 0.5rem;
}
.iconAssess{
    width: 12px;
}





