@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.input-mensagem-erro{
    font-size: 10px;
    font-weight: 250;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif;
}
