.imgMovie{
    width: 300px;
}

.info-primary{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    gap: 3rem;
}

.titleDetails{
    color: #fff;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #fff;
}

.containerDetails{
    width: 100wh;
    background-color: black;
}
.listMovies{
    padding: 1rem 0 1rem 0;
    display: flex;
    gap: 1rem;
}

.listMovies button img{
    width: 50%;
    height: auto;
    /* padding: 8px; */
}

.listMovies button{
    background-color: #0077b6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.listMovies button:hover{
    opacity: 0.5;
}

.sinopse{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.titleSinopse{
    font-size: 1.4rem;
}

.tagline{
    color: #ccc;
}

.shadow{
    width: 100wh;
    background-image: linear-gradient(to right, rgba(31.5, 31.5, 52.5, 1) calc((50vw - 170px) - 340px), rgba(31.5, 31.5, 52.5, 0.84) 50%, rgba(31.5, 31.5, 52.5, 0.84) 100%);
}

.listMovies{
    display: flex;
    flex-direction: column;
}

.buttonsList{
    display: flex;
    gap: 1rem;
}

.spansList{
    display: flex;
    width: 100px;
}

.likedList{
    display: none;
    white-space: nowrap;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-left: -2.5rem;
    transition: all 0.3s;
}

.interestList{
    display: none;
    white-space: nowrap;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin-left: -2.5rem;
    transition: all 0.3s;
}

.toAssess{
    margin-left: 5rem;
    background-color: #0077b6;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    display: none;
    transition: all 0.3s;
}