<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="../css/styleDetails.css">
    <link rel="stylesheet" href="../css/global.css">
    <title>MovieDetails</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul class="menu-left">
                <a href="/"><img src="../img/logo7-.png" alt="" class="logo"></a>
                <a href="#elenco"><li class="menu-itens">Elenco</li></a>
                <a href="#resenha"><li class="menu-itens">Resenha</li></a>
                
            </ul>
            <ul class="menu-right">
                <input type="text" placeholder="Buscar..." class="search-box"></input>
                <div class="icons-menu-right">
                    <a class="login" href="/login?id=login">Entrar</a>
                    <a class="signup" href="/cadastrar?id=cadastrar">Registrar</a>
                    <button class="search-icon" ><img class="img-icon-search" src="../icon/search.png" alt=""></button>
                    <img class="profile" src="../icon/profile.png" alt="">
                </div>
                <div class="profile-submenu">
                    <div class="submenu-first">
                        <p class="nameProfile"></p>
                        <a href="/dashboard"><span>Ver perfil</span></a>
                    </div>
                    <hr>
                   <div class="submenu-secundary">
                        <a href="/dashboard"><p>Listas</p></a>
                        <a href="/logout">Sair</a>
                   </div>
                </div>
            </ul>
        </div>
        <div class="containerDetails">
            <div class="shadow">
                <div class="info-primary">
                    <img  class="imgMovie" src="" alt="">
                    <div class="infoMovies">
                        <div class="info">
                            <h1 class="titleDetails"></h1>
                            <p class="titleOrigi"></p>
                            <div class="date-time-gender">
                                <span class="data"></span>
                                <span class="gender"></span>
                                <span class="time"></span>
                            </div>
                            <div class="listMovies">
                                <div class="buttonsList">
                                    <button class="voteAvarage"></button>
                                    <button class="buttonLikedList"><img src="../icon/listMaisTarde.png" alt=""></button>
                                    <button class="buttonInterestList"><img src="../icon/LikedList.png" alt=""></button>
                                    <button class="buttonToAssess"><img src="../icon/avaliar.png" alt=""></button>
                                </div>
                                <div class="spansList">
                                    <p class="likedList">Lista para assisitir mais tarde</p>
                                    <p class="interestList">Lista de filmes que gostei</p>
                                    <p class="toAssess">Avaliar</p>
                                    <ul class="toAssessStar">
                                        <li><img id="star_1" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_2" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_3" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_4" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_5" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_6" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_7" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_8" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_9" class="star" src="../icon/avaliar.png" alt=""></li>
                                        <li><img id="star_10" class="star" src="../icon/avaliar.png" alt=""></li>                                        
                                    </ul>
                                </div>  
                            </div>
                            <div class="sinopse">
                                <span class="tagline"></span>
                                <p class="titleSinopse">Sinopse</p>
                                <p class="sinopseValue"></p>
                            </div>
                        </div>
                        <div class="info-creditos"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-secundary">
            <h1 id="elenco">Elenco Principal</h1>
            <div class="cast">
                
            </div>
            <h1 id="resenha" class="title-resenha-h1">Resenha</h1>
            <div class="container-resenha">
               
                
            </div>
        </div>
        <footer class="footer">
            <div class="footer-copy">
                <p>&copy; MovieFinder 2023</p>
            </div>
            <div class="footer-first">
                <p>Filmes</p>
                <ul>
                    <li><a href="">Populares</a></li>
                    <li><a href="">Em Cartaz</a></li>
                    <li><a href="">Tendências</a></li>
                    <li><a href="">Melhores Avaliados</a></li>
                </ul>
            </div>
        
            <div class="footer-second">
                <p>Minhas Listas</p>
                <ul>
                    <li><a href="">Lista de Favoritos</a></li>
                    <li><a href="">Lista Assistir Mais tarde</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <p>Social</p>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">LinkedLn</a></li>
                </ul>
            </div>
            
        </footer>
    </div>
    <!-- <script src="./js/script.js"></script>
     -->
     <script src="../js/scriptDetails.js"></script>
     <script src="../js/global.js"></script>
     <script src="../js/logadoOrNot.js"></script>
</body>
</html>