<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/global.css">

    <title>MovieFinder</title>
</head>
<body>
    <div id="container">
        <div class="menu">
            <ul class="menu-left">
                <a href="/"><img src="../img/logo7-.png" alt="" class="logo"></a>
                <li class="menu-itens">Populares</li>
                <li class="menu-itens">Em Cartaz</li>
                <li class="menu-itens">Próximas Estreias</li>
                <li class="menu-itens">Mais bem Avaliados</li>
            </ul>
            <ul class="menu-right">
                <input type="text" placeholder="Buscar..." class="search-box"></input>
                <div class="icons-menu-right">
                    <a class="login" href="/login?id=login">Entrar</a>
                    <a class="signup" href="/cadastrar?id=cadastrar">Registrar</a>
                    <button class="search-icon" ><img class="img-icon-search" src="../icon/search.png" alt=""></button>
                    <img class="profile" src="../icon/profile.png" alt="">
                </div>
                
            </ul>
        </div>

        <h1 class="title-carousel">Filmes Populares</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div class="carousel">
                <ul class="listMovie" id="listMoviePopular"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>

        <h1 class="title-carousel">Tendências</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div id="carousel-now" class="carousel">
                <ul id="listMovieTrending" class="listMovie"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>

        <h1 class="title-carousel">Em Cartaz</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div id="carousel-cartaz" class="carousel">
                <ul id="listMovieCartaz" class="listMovie"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>

        <h1 class="title-carousel">Melhores avaliados</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div id="carousel-top" class="carousel">
                <ul id="listMovieTop" class="listMovie"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>
        <h1 class="title-carousel">Em Breve</h1>
        <div class="wrapper">
            <button class="buttonLeft"><img src="../icon/angleLeft.png" alt=""></button>
            <div id="carousel-breve" class="carousel">
                <ul id="listMovieBreve" class="listMovie"></ul>
            </div>

            <button class="buttonRight"><img src="../icon/angleRight.png" alt=""></button>
        </div>
        <footer class="footer">
            <div class="footer-copy">
                <p>&copy; MovieFinder 2023</p>
            </div>
            <div class="footer-first">
                <p>Filmes</p>
                <ul>
                    <li><a href="">Populares</a></li>
                    <li><a href="">Em Cartaz</a></li>
                    <li><a href="">Tendências</a></li>
                    <li><a href="">Melhores Avaliados</a></li>
                </ul>
            </div>
        
            <div class="footer-second">
                <p>Minhas Listas</p>
                <ul>
                    <li><a href="">Lista de Favoritos</a></li>
                    <li><a href="">Lista Assistir Mais tarde</a></li>
                </ul>
            </div>
            <div class="footer-end">
                <p>Social</p>
                <ul>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">LinkedLn</a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script src="../js/script.js"></script>
    <script src="../js/logadoOrNot.js"></script>
    <script src="../js/global.js"></script>
    <!-- <script src="./js/TelaLoginCadastro.js"></script> -->

 
 
</body>
</html>