<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="./TelaEsqueciSenha.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="content second-content">
            <div class="second-column">
                <h2 class="title title-second">Problemas Para Entrar?</h2>
         
                <p class="description description-second">Insira seu email e enviaremos instruções de como redefinir sua senha</p>
                <form class="form">

                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="email" placeholder="Email">
                    </label>
 
                    <button class="btn btn-second">Avançar</button>   
                    <a class="password" href="#">Precisa de mais ajuda?</a>     
                </form>
            </div>
        </div>
    </div>
    <script src="./TelaLoginCadastro.js"></script>
</body>
</html>